FORM_TOKEN_SECRET=3f0d6d8b1c5e4a7f9b2c1d8e6f4a9b3c5d7e1f2a4b6c8d9e0f1a2b3c4d5e6f7
LEAD_EMAIL_TO=pride174@mail.ru
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USERNAME=pride174@mail.ru
SMTP_PASSWORD=aPkIaPYAWpovRpgyhMVu
SMTP_USE_SSL=true
SMTP_TIMEOUT_SECONDS=20

# For HTTPS (Let's Encrypt)
DOMAIN=example.com
LETSENCRYPT_EMAIL=admin@example.com
